/** Theme settings ********************************************/
/** Theme mixins *******************************************/
/** Theme rules ********************************************/
.sik-builder {
  display: flex;
  flex-direction: column;
  align-content: flex-start;
  position: relative;
  color: #222222;
  background-color: white;
  width: 1000px;
  height: 600px;
  margin: 25px auto;
  padding-left: 35px; }
  .sik-builder > .controls {
    font-size: 0;
    list-style: none;
    margin: 0;
    padding: 0;
    /* SH: added - 2021-06-14 => Li still is display block style ... */
    box-sizing: border-box;
    position: absolute;
    left: 0;
    top: 0;
    width: 35px;
    border: 1px solid #cacaca;
    border-right: 0;
    border-bottom: 0;
    -webkit-touch-callout: none;
    /* iOS Safari */
    -webkit-user-select: none;
    /* Safari */
    -khtml-user-select: none;
    /* Konqueror HTML */
    -moz-user-select: none;
    /* Firefox */
    -ms-user-select: none;
    /* Internet Explorer/Edge */
    user-select: none;
    /* Non-prefixed version, currently supported by Chrome and Opera */ }
    .sik-builder > .controls > li {
      font-size: 16px;
      box-sizing: border-box;
      cursor: pointer;
      line-height: 35px;
      text-align: center;
      border-bottom: 1px solid #cacaca; }
      .sik-builder > .controls > li:hover {
        background-color: #ffe4c5; }
      .sik-builder > .controls > li.selected {
        background-color: #ffc079; }
  .sik-builder > .working-controls {
    -webkit-touch-callout: none;
    /* iOS Safari */
    -webkit-user-select: none;
    /* Safari */
    -khtml-user-select: none;
    /* Konqueror HTML */
    -moz-user-select: none;
    /* Firefox */
    -ms-user-select: none;
    /* Internet Explorer/Edge */
    user-select: none;
    /* Non-prefixed version, currently supported by Chrome and Opera */ }
    .sik-builder > .working-controls > .sub-controls {
      display: none;
      box-sizing: border-box;
      font-size: 0;
      list-style: none;
      margin: 0;
      padding: 0;
      /* SH: added - 2021-06-14 => Li still is display block style ... */
      border: 1px solid #cacaca;
      border-top: 0px; }
      .sik-builder > .working-controls > .sub-controls > li {
        display: inline-block;
        padding: 0 15px;
        box-sizing: border-box;
        font-size: 12px;
        cursor: pointer;
        line-height: 35px;
        text-align: center; }
        .sik-builder > .working-controls > .sub-controls > li:hover {
          background-color: #ffe4c5; }
        .sik-builder > .working-controls > .sub-controls > li.selected {
          background-color: #ffc079; }
        .sik-builder > .working-controls > .sub-controls > li > i {
          margin-right: 4px; }
  .sik-builder > .working-header {
    width: 100%;
    color: #6f6f6f;
    background-color: #bbbbbb;
    font-size: 14px;
    vertical-align: baseline;
    padding: 0px 10px 2px 10px;
    border: 1px solid #cacaca; }
  .sik-builder > .builder-document {
    width: 100%;
    flex: 1;
    border: 1px solid #cacaca;
    border-top: 0px; }

/*# sourceMappingURL=BsikPageBuilder.css.map */
